html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-side-bar{
  width: 250px;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}

main, header, footer{
  margin-left: 250px;
}

.bg-brown {
  background-color: #e2c498 !important;
}
